body {
  margin: 0;
  background-color: rgb(0, 20, 29);
}

header {
  display: flex;
  justify-content: end;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
  position: absolute;
  /*z-index: 2;*/
  /*pointer-events: none;*/
}

.nav-right {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
}

.heading-background {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  opacity: 0.7;
  transition: opacity .4s ease;
  width: 100vw;
  height: 80px;
  position: absolute;
}

.heading-background:hover {
  opacity: 1;
}

.header-logo {
  width: 275px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #d8e0e8;
}

.nav-button:hover {
  cursor: pointer;
}

.search-input-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.search-input-container img {
  position: absolute;
  width: 20px;
  right: 15px;
}

.search-input {
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: rgb(255, 255, 255);
  opacity: .2;
  outline: none;
}

.sign-in-container {
  display: none;
  top: 0;
  gap: 15px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 1px solid black;
  background-color: #14181c;
  color: rgb(99, 98, 98);
  font-size: 0.9rem;
  border-radius: 0 0 3px 3px;
}

.sign-in-container-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}

.sign-in-container #username, #password {
  background-color: #2c3440;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #3b3d41;
  height: 25px;
  outline: none;
}

.close-btn {
  background: transparent;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.username-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username-text {
  height: 20px;
}

.password-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.forgot-password {
  color: #00e054;
  padding: 0;
  margin: 0;
}

.sign-in-btn {
  background-color: #059e40;
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 70px;
  color: rgb(227, 227, 227);
  font-weight: bold;
}

/*
.main-image-header-container {
  width: 1000px;
  border: 1px solid black;
}
*/

/*
.header-overlay {
  width: 100%;
  height: 600px;
  position: absolute;
  background-color: transparent;
  box-shadow: inset 0 0 30px 30px rgb(0, 20, 29);
  z-index: 1;
}
*/

.main-image-header {
  width: 100%;
}

.site-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -80px;
}

.heading-info-container {
  display: flex;
  justify-content: center;
  width: 500px;
  text-align: center;
}

h1 {
  color: white;
  font-size: 32px;
}

.get-started-btn {
  color: white;
  background-color: rgb(3, 165, 3);
  border: none;
  border-radius: 4px;
  height: 35px;
  width: 250px;
  font-size: 1rem;
  cursor: pointer;
}

.mobile-links {
  display: flex;
  align-items: center;
}

h4 {
  color: #b5bac0;
}

.h4-film-lovers {
  margin-right: 15px;
}

span {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.apple-logo {
  width: 20px;
}

.android-logo {
  width: 33px;
}

.trending-films-container {
  display: flex;
  height: 300px;
  justify-content: space-around;
}

.trending-film {
  width: 150px;
  height: 225px;
  border: 1px solid gray;
  border-radius: 3px;
}

.trending-film-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 225px;
  position: absolute;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.trending-film-overlay:hover {
  background-color: rgba(0, 0, 0, .7);
  opacity: 1;
}

.trending-film-overlay p {
  position: absolute;
  font-size: 30px;
  color: rgb(255, 255, 239);
}

.trending-film img {
  width: 100%;
}